.homeMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}
.homeText{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.findJobs{
    display:flex;
    gap: 5px;
    align-items: center;
}
.bgbtn {
    background-color: #6714ff !important;
}
.homeTextmain{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

@media (max-width: 500px) {
    .HomeImg{
        display: none;
    }
}